.slider {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 4.4rem;
  .slide {
    overflow: hidden;
    &__list {
      display: flex;
    }
    &__button {
      width: 5.4rem;
      height: 5.4rem;
      border-radius: 50%;
      border: 1px solid #ffd1c4;
      background-color: transparent;
      flex-shrink: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.3s;
      &:nth-of-type(2) {
        margin-left: auto;
      }
      & i {
        color: $hover-color;
        font-size: 1.6rem;
      }
      &:hover {
        background-color: $hover-color;
        border-color: $hover-color;
        &:hover i {
          color: #fff;
        }
      }
    }
    &-item {
      display: flex;
      align-items: center;
      column-gap: 115px;
      width: 100%;
      flex-shrink: 0;
      &__media {
        width: 274px;
        flex-shrink: 0;
        border-radius: 137px;
        position: relative;
        margin-top: -52px;
        &::before {
          content: "";
          height: 82%;
          position: absolute;
          inset: auto 0 0 0;
          border-radius: inherit;
          background: #ffda54;
        }
      }
      &__img {
        width: 100%;
        border-radius: inherit;
        position: relative;
        z-index: 1;
        display: block;
      }
      &__content {
        margin-top: 28px;
      }
      &__heading {
        font-size: 5.2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.19;
        margin-bottom: 2.4rem;
      }
      &__quote {
        color: #000;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.55;
        max-width: 553px;
      }
      &__author {
        margin-top: 3.4rem;
        color: #282828;
        font-family: $second-font;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        position: relative;
        padding-left: 2.8rem;
        &::before {
          content: "";
          width: 2rem;
          height: 2px;
          background-color: #000;
          border-radius: 1px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          left: 0;
        }
      }
    }
    &__dots {
      margin-top: 5.6rem;
      display: flex;
      justify-content: center;
      column-gap: 8px;
    }
    &__dot {
      width: 8px;
      height: 8px;
      border-radius: 4px;
      border: 1px solid $hover-color;
      cursor: pointer;
      &:hover {
        background-color: $hover-color;
      }
      &--active {
        width: 24px;
        background-color: $hover-color;
      }
    }
  }
}
