$main-font: "Poppins", sans-serif;
$second-font: "Sora", sans-serif;
$bg-color: #fffaf5;
$text-color: #000958;
$text-normal: #5e6085;
$text-normal-2: #48496a;
$text-normal-3: #656689;
$text-normal-4: #34396a;
$hover-color: #ff5d31;
